
html, body {
  overflow-x: hidden;/*PREVINE O SCROOL HORIZONTAL*/
}

* {
  box-sizing: border-box;
}


/*ola, meu nome é*/
.container #paragrafo-ola h2{
    font-size: 2em;
    margin-left: 45px;
    padding-top: 123px;
    margin-bottom: 6px;
    color: white;

 }

 /*AQUI AJUSTA A ALTURA DE ESPAÇAMENTO DO PARAGRAFO OLA  EM MOBILE*/

 @media (max-width: 1217px) {
    .container #paragrafo-ola h2{
       margin-bottom: -5px;
       margin-top: 3px;/*altura entre o cabeçalho eo titulo ola.*/
    }}


@media (max-width:375px) {
    .container #paragrafo-ola h2{
      margin-bottom: -5px;
      margin-top: 243px;
    }}
   


 /*TITULOS ANA E  DEV FRONT E WEB DESIGN(ROSA E BRANCO)*/
 .nomes {
    display: flex;
    /* justify-content: center; Alinha horizontalmente no centro */
    flex-wrap: wrap; /* Mantém a responsividade */
}
 
.nomes  h1 {
    margin: 0 -7px; /* Espaçamento entre os nomes */
    padding-top: 35px;
    margin-left: 20px;
    padding: -20px;
    font-size: 3.6em;
}

/*ANA BEATRIZ*/
.nome-branco{
color:white
}
/*BENTO BROETTO*/
.nome-rosa{
color:rgb(216, 128, 199);
}

/*AQUI AJUSTA O TITULO BENTO BROETTO  EM MOBILE*/

@media (max-width:375px) {
   #nome-rosa ,.nome-rosa h1{
    font-size:50px ;
   

  }}

  @media only screen and (max-width: 414px) {
    /*NOME BENTO BROETTO MOBILE*/
    #nome-rosa ,.nome-rosa h1{
       padding: auto;
       margin-top: auto;
       margin-bottom: auto;
    }
    /*dev e web responsividade mobile*/
    #dev ,.dev-rosa h2{
      margin-left: -10px;
      font-size: 23px;
    }
}
@media (max-width: 1217px) {
  #nome-rosa ,.nome-rosa h1{
    font-size:50px ;

  }}


/*EU SOU DESENVOLVEDORA FRONT E WEB DESIGN*/
.dev {
    display: flex;
    /* justify-content: center; Alinha horizontalmente no centro */
    flex-wrap: wrap; /* Mantém a responsividade */
}

.dev h2 {
    margin: 0 0px; /* Espaçamento entre os nomes */
    margin-left: 7px;
    padding: -20px;
    font-size: 2em;
    padding-top: 55px;
    margin-bottom: 6px;

}
.dev-branco{
color:white
}
.dev-rosa{
color:rgb(216, 128, 199);
}


/*IMAGEM MENINA HOME*/

/* Estilização do container da imagem */
.img-container {
    position: relative;
    display: flex;
    justify-content: flex-end; /* Alinha no canto direito */
    margin-right: 20px; /* Espaçamento da margem direita */
}

/* O quadrado por trás da imagem */
.quadrado {
    width: 350px; /* Tamanho do quadrado */
    height: 370px;/*aumenta para baixo*/
    border: 6px solid  rgb(253, 253, 253);
    position: absolute;
    top: -159px; /* Desloca o quadrado um pouco para baixo */
    right: -10px; /* Desloca o quadrado um pouco para a esquerda */
    z-index: 1; /* Coloca o quadrado atrás da imagem */
    top: -254px;
}

/* Estilo da imagem */
.img img {
    position: relative;
    z-index: 2; /* Coloca a imagem na frente do quadrado */
    width: 440px; /* Tamanho da imagem */
    height: 399px;
    margin-right: 0; /* Remove margens adicionais à direita */
    margin-top: -280px; /* Ajuste a sobreposição */
    left: 100px;
  

}

/*MEDIA HOME IMAGE*/
@media (max-width: 1217px) {
    .img img{
        visibility: hidden;/*faz com que a imagem suma quando vai para mobile.*/
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }
    .quadrado{
        visibility: hidden;/*faz com que a imagem suma quando vai para mobile.*/
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }
    

} 


@media (max-width:375px) {
    .img img{
        visibility: hidden;/*faz com que a imagem suma quando vai para mobile.*/
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }
    .quadrado{
        visibility: hidden;/*faz com que a imagem suma quando vai para mobile.*/
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }
    

} 

/*FIM DA IMAGEM MENINA HOME*/


/*TIRANDO A MARGIN MOBILE*/
/* Para telas maiores, como desktops */
.img-container {
    margin: 20px;
}

/* Para telas menores, como tablets */
@media (max-width: 768px) {
    .img-container {
        margin: 10px;
    }
}

/* Para telas de celulares */
@media (max-width: 480px) {
    .img-container {
        margin: 5px;
    }
}




/*BOTOES LINKEDIN E GIT HUB HOME*/

/* github e linkedin */
.social-media {
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    padding: 12px 24px;
    display: flex; /* Garante que o botão seja exibido corretamente */
    width: auto; /* Define a largura automática para ajustar ao conteúdo */
    max-width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    z-index: 1px;
}

.social-media a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 4rem;
    border: 1px solid rgb(255, 252, 252);
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    border-radius: 4px;
    margin-left: 20px;/*da distancia um do outro entre os botoes*/
    z-index: 1;
   
}


/*MUDANÇA DE COR DOS MENUS DO HOUVER*/
/* deixa os botoes do git e linkedin com animacao de mudar de cor quando passa o mouse em cima */
a:hover {
    background-color: rgb(216, 128, 199);
     border-radius: 9px;
}



 
/*BOTOES LINKEDIN E GITHUB MOBILE*/

@media only screen and (max-width: 768px) {
     .social-media {
        font-size: 16px; /* Reduz o tamanho da fonte para telas menores */
        padding: 10px 20px; /* Ajusta o padding para telas menores */
     
        
        
    }
}

@media only screen and (max-width: 375px) {
    .social-media {
        font-size: 14px; /* Reduz ainda mais o tamanho da fonte para dispositivos com largura de 375px */
        padding: 8px 16px; /* Ajusta o padding para dispositivos com largura de 375px */
        margin-bottom: 10px; 
    }
}



/*ANIMAÇÃO ONDAS ;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  .content-top, .content-bottom {
    height: 100vh;
    display: flex;
    
  }
  
  .content-top {
    background-color: #6C63FF;
    color: white;
  }
  
  .content-bottom {
    background-color: #FF6F91;
    color: white;
    
  }

  
  
.wave-container {
    position: relative;
    width: 100%;
    height: 200px; /* Altura da seção de ondas */
    overflow: hidden;
    background-color: #000000;
    z-index: -1;
  }

  
  
  /* Estilos base para as ondas */
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;/*faz com que as ondas ocupem a horizontal inteira da tela*/
    z-index: -1;
  }
  
  /* Primeira onda */
  .wave1 {
    animation: wave1-animation 5s infinite ease-in-out;
  }
  
  /* Segunda onda */
  .wave2 {
    animation: wave2-animation 7s infinite ease-in-out;
    opacity: 0.7; /* Ajuste de opacidade para a segunda onda */
  }
  
  /* Animação da primeira onda - movimento de subida e descida */
  @keyframes wave1-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px); /* Aumenta ou diminui para ajustar a intensidade */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Animação da segunda onda - movimento de subida e descida */
  @keyframes wave2-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px); /* Aumenta ou diminui para ajustar a intensidade */
    }
    100% {
      transform: translateY(0);
    }
  }
  

/*PAG SOBRE MIM*/
.sobre-mim h1{
  font-size: 50px;
  color: white;

  padding-top: 330px;
  margin-bottom: 6px;
}