
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}

html{
    height: 890vh;
    background-color: black;
 

}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;/* deixa os elementos bem divididos nas estremidades. */
}

header{/*cabeçalho*/
    top: 0;
    left: 0;
    position: absolute;/*deixa o cabeçalho no ínicio da página quando rola*/
    width: 100%;
    padding:60px 4% ; /*o 60px deixa afastado do topo. e o 4% é na esquerda e direita*/
    transition: .5s;
    margin-bottom: 34px;
}





header img{
    font-size: 30px;
    width: 129px;
}

header ul{
    list-style-type: none;/*tira as bolinhas que tem ao lado da lista, do menu*/
}

header ul li{
    display: inline-block;/* aqui vai deixar os botoes de acesso as paginas um ao lado do outro(entregas,produtos,nossa-loja)*/
    margin: 70 40px;/* aqui serve para dar uma afastada os botoes um no outro, o 0 é de em cima e em baixo, já o 40 é a distancia que eles terão um do outro da esquerda e direita.*/
}

header ul li a{
    color:white;
    text-decoration: none;/*aqui tira as linhas que ficam embaixo deles.*/
    font-size: 2em; /* ele aumenta o tamanho das letras do menu.*/
}


.banner-2{
    height: 150vh;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;/*aqui ele cobre todo o espaço do baineer*/
}


/*ola, meu nome é*/
.banner-2 #titulo-1 h2{
    font-size: 2em;
    margin-left: 45px;
    padding-top: 355px;
    margin-bottom: 6px;
    color: white;
    
 }

 /*Nomes ana beatrz bento broetto*/

 .nomes {
    display: flex;
    /* justify-content: center; Alinha horizontalmente no centro */
    flex-wrap: wrap; /* Mantém a responsividade */
}



/*deixa o ana beatriz 'branco'
e bento broetto 'rosa'

PARA DUPLICAR UMA LINHA APERTE
SHIFT+ALT+ SETA PARA BAIXO OU PARA CIMA HEHE*/

.nome-branco{
color:white
}
.nome-rosa{
color:rgb(216, 128, 199);
}

.nomes  h1 {
    margin: 0 -10px; /* Espaçamento entre os nomes */
    padding-top: 35px;
    margin-left: 60px;
    padding: -20px;
    font-size: 3.6em;

}

/*RESPONSIVIDADE PARA MOBILE*/
@media (max-width: 768px) {
    .nomes {
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }

    .nomes h1 {
        margin: 5px 0; /* Ajusta o espaçamento para telas pequenas */
    }
}






 /*TITULOS FRONT E WEB-DESIGN*/
 
 .dev {
    display: flex;
    /* justify-content: center; Alinha horizontalmente no centro */
    flex-wrap: wrap; /* Mantém a responsividade */
 }

 .dev h2 {
    margin: 0 -23px; /* Espaçamento entre os nomes */
    margin-left: 48px;
    padding: -20px;
    font-size: 2em;
    padding-top: 55px;
    margin-bottom: 6px;

}



/*deixa o front 'branco'
e web-design 'rosa'

PARA DUPLICAR UMA LINHA APERTE
SHIFT+ALT+ SETA PARA BAIXO OU PARA CIMA HEHE*/

.dev-branco{
color:white
}
.dev-rosa{
color:rgb(216, 128, 199);
}


/*RESPONSIVIDADE PARA MOBILE*/
@media (max-width: 768px) {
   .dev {
       flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
       align-items: center; /* Centraliza verticalmente */
   }

   .dev h2 {
       margin: 5px 0; /* Ajusta o espaçamento para telas pequenas */
       flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
       align-items: center; /* Centraliza verticalmente */
   }
}

/*FIM DOS TITULOS FRONT E WEB-DESIGN*/



/*IMAGEM MENINA HOME*/

/* Estilização do container da imagem */
.img-container {
    position: relative;
    display: flex;
    justify-content: flex-end; /* Alinha no canto direito */
    margin-right: 20px; /* Espaçamento da margem direita */
}

/* O quadrado por trás da imagem */
.quadrado {
    width: 350px; /* Tamanho do quadrado */
    height: 370px;/*aumenta para baixo*/
    border: 6px solid  rgb(253, 253, 253);
    position: absolute;
    top: -159px; /* Desloca o quadrado um pouco para baixo */
    right: 20px; /* Desloca o quadrado um pouco para a esquerda */
    z-index: 1; /* Coloca o quadrado atrás da imagem */
}

/* Estilo da imagem */
.img img {
    position: relative;
    z-index: 2; /* Coloca a imagem na frente do quadrado */
    width: 440px; /* Tamanho da imagem */
    height: 389px;
    margin-right: 0; /* Remove margens adicionais à direita */
    margin-top: -180px; /* Ajuste a sobreposição */
    left: 100px;

}

/*MEDIA HOME IMAGE*/
@media (max-width: 1217px) {
    .img img{
        visibility: hidden;/*faz com que a imagem suma quando vai para mobile.*/
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }
    .quadrado{
        visibility: hidden;/*faz com que a imagem suma quando vai para mobile.*/
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }
    

} 


@media (max-width:375px) {
    .img img{
        visibility: hidden;/*faz com que a imagem suma quando vai para mobile.*/
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }
    .quadrado{
        visibility: hidden;/*faz com que a imagem suma quando vai para mobile.*/
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }
    

} 

/*FIM DA IMAGEM MENINA HOME*/



/*BOTOES LINKEDIN E GIT HUB HOME*/

/* github e linkedin */
.social-media {
    
    display: flex;
    height: 90px;/*90px*/
    width: 900px;/*900px*/
    flex-wrap: column wrap; /*faz com que os elementos quebrem a linha quando diminuir a tela.*/
    justify-content: center;/*flex-end*/
}

.social-media a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 4rem;
    border: 1px solid rgb(255, 252, 252);
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    border-radius: 4px;
    margin-left: 20px;/*da distancia um do outro entre os botoes*/
    z-index: 1;

    
}


/*MUDANÇA DE COR DOS MENUS DO HOUVER*/
/* deixa os botoes do git e linkedin com animacao de mudar de cor quando passa o mouse em cima */
a:hover {
    background-color: rgb(216, 128, 199);
     border-radius: 9px;
}





/* Menu */






/*CABEÇALHO*/
/*Rodapé (Footer)*/

.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(248, 129, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    
}

.footer img{
    width: 60px;
    height: 60px;
    align-items: start;
    justify-content: start;
    color: black;
    margin-left: 34px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}




