* {
    box-sizing: border-box; /* Inclui padding e borda na largura total */
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    overflow-x: hidden; /* Previne o scroll horizontal */
}

/* HEADER */

.header-container {
    height: 100vh; /* altura */
    width: 100vw;
    background-color: aqua;
    background-image: url('../Images/image-perfil.png');
    background-repeat: no-repeat;
    background-position: right; /* deixa a imagem no canto direito da tela. */
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
    overflow-x: hidden; /* Previne o scroll horizontal no header */
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: justify;
    margin-top: 208px;
}


h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* github e linkedin */
.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: black;
    padding: 1rem 4rem;
    border: 1px solid black;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    border-radius: 4px;
    margin-left: 9px;
}

/* deixa os botoes do git e linkedin com animacao de mudar de cor quando passa o mouse em cima */
a:hover {
    background-color: rgb(216, 128, 199);
     border-radius: 9px;
}



/* Menu Hamburguer */

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* Menu */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgb(250, 114, 137);
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed; /* Fix the position */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; /* Initially behind other elements */
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
}

.menu-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-items ul li a {
    display: block;
    margin: 10px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/* Animação Menu Sanduiche */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: rgb(250, 114, 137);
}

/* Animação bolha */

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax rgb(250, 114, 137);
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    z-index: 2;
    visibility: visible;
    opacity: 1;
}

/* CARDS */

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; /* Mudei de 90% para 100% */
    padding: 0 112px; /* Adicionei padding para garantir que o conteúdo não ultrapasse a largura da viewport */
    box-sizing: border-box;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0; /* deixa a margin so na parte de cima */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    background-image: url('../Images/image-perfil.png');
    background-position: center;
    background-size: cover; /* pega tudo */
    background-repeat: no-repeat;

    /* o filter faz a animação de deixar mais escuro quando passa o mouse. */
    filter: grayscale(0.5);
    color: rgb(249, 249, 249);
    cursor: pointer; /* deixa a mão do mouse com a forma de click */
    transition: 0.5s ease-in-out;
}

.card-text {
    width: 40%;
    letter-spacing: 1px; /* deixa a letra mais separada */
    color: rgb(109, 109, 109);
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';/*para nao ter nenhum texto ou icone nele*/
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border:  1px solid white;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

/*faz uma animação quando passa o mouse nos projetos ele perde aquela cor cinza.*/
.card:hover{
    filter:unset;
}

/*no card hover o filho dele(.card-wrapper::before)
 aumenta de tamanho para 200px e fique com o opacity 1
 isso fara aanimação de mexer no p de saiba mais,
 quando passado o mouse em cima*/
.card:hover > .card-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}

/*aqui fara o p aparecer*/
.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size:  20px;
    margin-top: 45px;
    
}



/*Rodapé (Footer)*/

.footer{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    
}

.footer img{
    width: 60px;
    height: 60px;
    align-items: start;
    justify-content: start;
    color: black;
    margin-left: 34px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}




/*Efeito Rolagem scroll menu sanduiche*/

